.text {
  color: rgb(204, 204, 204);
}

.metamask-auth {
  width: 185px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mint {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
} 